:root {
    font-size: 16px;;
    --darkgrey-color: rgb(54, 54, 54);

    /*
        Pineapple Cocktails Colors 
        https://www.schemecolor.com/pineapple-cocktails.php
    */
    --columbia-blue: rgb(194, 228, 221);
    --brown-yellow: rgb(204, 145, 99);
    --arylide-yellow: rgb(239, 207, 101);


    --lite-french-beige: rgb(210, 173, 114);
    --sea-green-75-perc: rgba(43, 130, 73, 0.75);
    --sea-green-55-perc: rgba(43, 130, 73, 0.55);
    --bangladesh-green: rgb(0, 114, 80);

    --persian-red-80-perc: rgba(213, 45, 48, 0.80);
    --lava: rgb(207, 22, 23);

    /* Smart Add Edit Note Card Styles*/
    --card-one-width: 500px;
    --card-height: 635px;
    --diff: 25px;
    --base-degree: -5deg;
    --left-post: 0px;
    --top-post: 70px;
}

.darkgrey {
    color: var(--darkgrey-color);
}

.columbia-blue-color {
    background-color: var(--columbia-blue) !important;
}

.operation-btn:hover {
    background-color: var(--sea-green-55-perc) !important;
    border-radius: 0.25rem;
}

.operation-btn.delete-note:hover {
    background-color: var(--persian-red-80-perc) !important;
    color: #fff;
    border-radius: 0.25rem;
}
